$base__size--xxxs: 0.125rem;
$base__size--xxs: 0.25rem;
$base__size--xs: 0.5rem;
$base__size--s: 0.75rem;
$base__size--m: 1rem;
$base__size--l: 1.5rem;
$base__size--xl: 2rem;
$base__size--xxl: 3rem;
$base__size--xxxl: 4rem;
